<section>
  <article>
      <h3>Event Binding</h3>
      <div>
          <button class="btn btn-primary" (click)="botaoClicado()">Me clique!</button>
          <br><br>
          <input type="text"
                 (keyup)="onKeyUp($event)"
                 (keyup.enter)="salvarValor(campoInput.value)"
                 (blur)="salvarValor(campoInput.value)"
                 [disabled]="desabilitado"
                 #campoInput>
          <p>Valor atual: {{ valorAtual }}</p>
          <p>Valor salvo: {{ valorSalvo }}</p>
          <br><br>
          <span (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver">
              Passe o mouse sobre mim 😊
          </span>
      </div>
  </article>
</section>
